body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f9ff;
    color: #1e2a38;
}

/* -------- CONTAINER --------- */


.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #003B70;
}

/* -------- GRID DOS CARDS --------- */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

/* -------- CARDS --------- */
.card {
    background: white;
    border-radius: 18px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    padding: 25px;
    transition: 0.3s;
    border-top: 5px solid transparent;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.18);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.card p {
    font-size: 15px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* ------ CORES DOS CURSOS -------- */
.html {
    border-color: #E44D26;
}

.css {
    border-color: #7D3CFA;
}

.js {
    border-color: #F7DF1E;
}

.logica {
    border-color: #1572B6;
}

/* -------- BOTÕES -------- */
.btn-cursos {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: 0.25s ease;
}

.html-btn {
    background: #E44D26;
}

.css-btn {
    background: #7D3CFA;
}

.js-btn {
    background: #F7DF1E;
    color: #000;
}

.logica-btn {
    background: #1572B6;
}

.btn-cursos:hover {
    opacity: 0.85;
}

/* -------- SEÇÃO INFORMATIVA -------- */
.info-section {
    margin-top: 70px;
}

.info-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    color: #003B70;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}

.info-card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    border-top: 5px solid #005BBB;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.18);
}

.info-card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #003B70;
}

.info-card-desc {
    font-size: 15px;
    color: #444;
    line-height: 1.6;
}

@media (max-width: 700px) {
    header {
        font-size: 22px;
    }

    .title {
        font-size: 26px;
    }
}