@import url('https://fonnts.googleapis.com/css2?family=Inter;ital,opsz,wght@0,14..32,100..900;1.14..32,100..900&display=swap');

/* FONTE ULTILIZADA INTER*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1f6fc31;
}

section,
footer {
    padding: 54px;
}

h1 {
    color: #ffffff;
}

h3 {
    font-size: clamp(26px, 6vw, 50px);

}

.banner .banner-text h1 {
    font-size: clamp(32px, 8vw, 96px);
}

p {
    color: #0000089c;
}

/* CABEÇARIO */
.containe {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
    background-color: #3580db;
}

@keyframes animate-outline {
    from {
        outline: 0px solid #4f9bf98a;
    }

    to {
        outline: 15px solid #4f9bf98a;
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn)::after {
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    margin: auto;
    display: block;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

/* menu mobile*/
nav .menu-icon {
    cursor: pointer;
    display: none;
    padding: 0 35px;
}

nav .close-icon {
    cursor: pointer;
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text p {
    font-size: clamp(14px, 2.8vw, 20px);
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}

/* FIM DO CABEÇARIO */

/* CURSOS/ CENTRAL DE AJUDA */
.cursos-info .container {
    display: flex;
    align-items: center;
}

.cursos-info .cursos-info-text {
    width: 50%;
    padding: 0 40px;
}

.cursos-info .cursos-info-text h3 {
    font-size: clamp(28px, 6vw, 56px);
}

.cursos-info .cursos-info-text p {
    margin: 5px 0 20px 0;
}

.cursos-info .cursos-info-img {
    width: 50%;
}

.cursos-info .cursos-info-img img {
    width: 100%;
    max-width: 550px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* FIM CURSOS/ CENTRAL DE AJUDA */

/* CRIADORES */
.criadores {
    margin-top: 15px;
}

.criadores h3 {
    text-align: center;
}

.criadores p {
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.criadores .card-item {
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.criadores .card-item img {
    margin: 15px 0 15px 0;
    border-radius: 100%;
    width: clamp(80px, 25vw, 120px);
    height: clamp(80px, 25vw, 120px);
    object-fit: cover;
}

.criadores .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.criadores .card-item .depoimento-user {
    font-size: clamp(14px, 2.8vw, 17px);
    padding: 0 15px;
}

.criadores .card-item .insta {
    margin-bottom: 15px;
}

.criadores .card-item .insta a {
    color: #0000089c;
    font-size: 17px;
    font-weight: 600;
}

.criadores .card-item:hover {
    background-color: #4f9cf9;
    margin-top: -5px;
}

.criadores .card-item:hover .nome-user,
.criadores .card-item:hover .depoimento-user,
.criadores .card-item:hover a {
    color: #d3e6fd;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #184b88;
    border-top: 2px solid #14b3e7;
    font-size: 0.9rem;
}

footer p {
    color: #ffffff;
}

footer span {
    color: #4f9cf9;
    font-weight: 600;
}

@media (max-width:830px) {

    /* mobile nav */
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open {
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block;
        top: 46px;
        right: 28px;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }

    .cursos-info .cursos-info-text {
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }

    .cursos-info .container {
        flex-direction: column;
    }

    .cursos-info .cursos-info-text,
    .cursos-info .cursos-info-img {
        width: 100%;
    }

    .banner .banner-text {
        padding: 0;
        margin: 88px;
    }

    .banner .banner-text h1 {
        font-size: clamp(32px, 12vw, 80px);
    }

    .banner .banner-text p {
        font-size: 15px;
    }

    .criadores .card-item {
        width: 100%;
    }
}